/* 복합셀렉터 combinator */
/* 부모 자식 조상 자손/후손 */

/* 후손 셀렉터 셀렉터1 셀렉터2 */
/* div p (태그) - div의 후손인 p를 바꿔라 */
div p{
    color: red;
}

/* 자식 셀렉터 child combinator (손자 포함X, 자식만 선택O) */
/* 셀렉터A > 셀렉터B */
/* div 자식인 p를 바꿔라 */
div > p{
    color: black;
}

span > p{
    color: brown;
}

/* 형제(동위) 셀렉터 sibling combinator */
/* 형제 관계에서 뒤에 위치하는 요소를 선택할 때 사용 */
/* 인접 형제 셀렉터 (셀렉터A + 셀렉터B) */
/* 셀렉터A의 형제 요소 중 셀렉터A 바로 뒤에 연속해서!! 위치하는 셀렉터B 요소를 선택 (연속적으로 와야 함) */
/* A와 B 사이에 다른 요소가 있으면 선택되지 않음 */

/* 일반 형제 셀렉터 (셀렉터A ~ 셀렉터B) */
/* 셀렉터A의 형제요소 중 뒤에 위치하는 셀렉터B의 요소를 모두 선택 */

/* 인접 형제 셀렉터 */
p+ul{
    color: red;

}

/* 일반 형제 셀렉터 (span과 ul이 형제일 경우 : 뒤에 있는 ul까지 다 바꿈) */
span~ul{
    color: green;
}

/* 다시 인접 */
h3+ul{
    color:black;
}

/* 가상 클래스 셀렉터 */
/* 요소의 특정 상태에 따라 스타일을 정할 때 사용 */
/* 특정 상태란? 마우스가 올라와 있을 때, 링크를 방문했을 때 */

/* a태그에서 마우스가 올라온 상태일 때 -> 배경을 빨강으로 바꿔라 */
a:hover{
    background-color: red;
}

/* input태그에 마우스 클릭될 때 -> 배경 노랑색으로 바꾸기 */
input:focus{
    background-color: yellow;
}

/* 구조 가상 클래스 셀렉터 */
/* :first-child : 셀렉터에 해당하는 모든 요소 중 첫번째 자식인 요소를 선택한다.
:last-child : 셀렉터에 해당하는 모든 요소 중 마지막 자식인 요소를 선택한다. */

/* p 요소 중에서 첫번째 자식을 선택 */
p:first-child {
    color: red; }

/* p 요소 중에서 마지막 자식을 선택 */
/* body 요소의 두번째 p 요소는 마지막 자식 요소가 아니다.
body 요소의 마지막 자식 요소는 div 요소이다. */
p:last-child {
    color: blue; }


/* 셀렉터 :nth-child(n), :nth-last-child(n)
:nth-child(n) 셀렉터에 해당하는 모든 요소 중 앞에서 n번째 자식인 요소를 선택
:nth-last-child(n) 셀렉터에 해당하는 모든 요소 중 뒤에서 n번째 자식인 요소를 선택 */

/* ol 요소의 자식 요소인 li 요소 중에서 짝수번째 요소만을 선택 */
ol > li:nth-child(2n) {
    color: orange; }

/* ol 요소의 자식 요소인 li 요소 중에서 홀수번째 요소만을 선택 */
ol > li:nth-child(2n+1) {
    color: green; }

/* ol 요소의 자식 요소인 li 요소 중에서 첫번쨰 요소만을 선택 */
ol > li:first-child {
    color: red; }

/* ol 요소의 자식 요소인 li 요소 중에서 마지막 요소만을 선택 */
ol > li:last-child {
    color: blue; }

/* ol 요소의 자식 요소인 li 요소 중에서 4번째 요소 요소만을 선택 */
ol > li:nth-child(4) {
    background: brown; }

/* ul 요소의 모든 자식 요소 중에서 뒤에서부터 시작하여 홀수번째 요소만을 선택 */
ul > :nth-last-child(2n+1) {
    color: red; }

/* ul 요소의 모든 자식 요소 중에서 뒤에서부터 시작하여 짝수번째 요소만을 선택 */
ul > :nth-last-child(2n) {
    color: blue; }
